composer.phar
/vendor/
mutt_launcher
page.dump
muttrc
mailboxes
.dir-locals.el
conf/config.yml
conf/sources.yml
cache/*
lib/ItIsAllMail/Driver/*
composer.lock
tests/.phpunit.result.cache
conf/sources.d/*
