mailbox_base_dir: "mailboxes"
mailbox : "default"
catalog_mailbox : "catalog"
catalog_default_driver : "habr.com"
update_interval: 300
change_subject_if_attachements: true
download_attachements: "full"
nickname_transformation: "readable"
between_source_update_interval: 5
monitor_update_interval: 60

drivers :
  - "habr.com"
  - "forumhouse.ru"
  - "linux.org.ru"
