mailbox_base_dir: "mailboxes"
mailbox : "default"
catalog_mailbox : "catalog"
catalog_default_driver : "habr.com"
update_interval: 300
change_subject_if_attachements: true
change_subject_if_score: true
add_statusline_header : true
download_attachements: "full"
nickname_transformation: "readable"
update_subject_header_on_changed_messages: true
update_statusline_header_on_changed_messages: true
source_update_interval: 60
between_source_update_interval: 5
fetcher_proxy : ""
poster_proxy : ""
use_posting_queue : 0

drivers :
  - "habr.com"
  - "forumhouse.ru"
  - "linux.org.ru"
  - "telegram-web"
